<div class="container bg-dark py-2 px-4">
  <div class="row">
    <!--Main-->
    <div class="col-12 col-lg-8 p-1">

      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Futhark</h5>

        </div>
      </div>

    </div>
    <!--Side-->
    <div class="col-12 col-lg-4 p-1">

      <div class="card card-body">
        <h5 class="card-title">Right</h5>

      </div>

    </div>

    <app-alphabet [Letters]="Letters" [IsTextRight]="true"></app-alphabet>

  </div>
</div>
