<ql-notify></ql-notify>
<!--Main Content-->
<div class="Fixed-bottom" style="max-width: 100px">
  <div class="D-flex Border Bg-silver Bg-alpha-20 ML-2 P-1">
    <div class="Square Cursor-pointer Rounded-circle Bg-{{theme.toLowerCase()}}"
         *ngFor="let theme of Themes">
      <div class="Square-inner" (click)="ChangeTheme(theme)"></div>
    </div>
  </div>
</div>

<div class="Container">
  <div class="Card Card-body MY-2">
    <div class="List List-horizontal">
      <a class="List-item List-item-action" [routerLinkActive]="'Active'"
         [routerLink]="['/Alphabet/Aurebesh']">Aurebesh</a>
      <a class="List-item List-item-action" [routerLinkActive]="'Active'"
         [routerLink]="['/Alphabet/Futhark']">Futhark</a>
      <a class="List-item List-item-action" [routerLinkActive]="'Active'"
         [routerLink]="['/Alphabet/Orkhon']">Orkhon</a>
      <a class="List-item List-item-action" [routerLinkActive]="'Active'"
         [routerLink]="['/Alphabet/Yenisei']">Yenisei</a>
    </div>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
