$bg-Body: var(--ls-bg-body);
$fg-Body: var(--ls-fg-body);

body {
  color: $fg-Body;
  background-color: $bg-Body;
}

main {
  min-height: 750px !important;
}

.Fixed-bottom{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
