<ng-container *ngIf="Letters">

  <div class="Card MB-2">
    <div class="Card-body">

      <button class="Btn Btn-sm MR-1 MB-1"
              [class.Btn-outline-dark]="letter.Type==LetterType.Separator"
              [class.Btn-outline-primary]="letter.Type==LetterType.Vowel"
              [class.Btn-outline-secondary]="letter.Type==LetterType.Consonants"
              [class.Btn-outline-night]="letter.Type==LetterType.Syllable"
              (click)="onClick(letter)" *ngFor="let letter of Letters;">
        {{letter.Value}}
        <div class="D-inline badge badge-light MR-1" *ngFor="let svg of letter.Vectors">
          <app-svg [Svg]="svg"></app-svg>
        </div>
      </button>
    </div>
  </div>

  <div class="Card MB-2">
    <div class="Card-body ">
      <div [class.Txt-right]="IsTextRight">
        <span [innerHTML]="Sentence"></span>
      </div>
    </div>
  </div>

  <div class="Card MB-2">
    <div class="Card-body ">
      <div [class.Txt-right]="IsTextRight">
        <div>{{SentenceReadable}}</div>
      </div>
      <div class="Form">
        <textarea class="Form-textarea Scrollbar" rows="5" required [innerHTML]="Sentence">></textarea>
        <label class="Form-label">Textarea</label>
      </div>
      <p *ngIf="Deciphered">
        <strong>Original:</strong> {{Deciphered.Original}}
        <strong>Reverse:</strong> {{Deciphered.Reverse}}
      </p>
      <p>
        <button type="button" class="Btn Btn-outline-danger MR-2" (click)="onClear()">Clear</button>
        <button type="button" class="Btn Btn-outline-info" (click)="onDecipher()">Decipher</button>
      </p>
      <a href="https://htmledit.squarefree.com/" target="_blank">real-time HTML editor</a>
    </div>
  </div>

</ng-container>
